@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #1d4ed8;
    --hover-color: #1e40af;
  --header-height: 3.5rem;
  --nav-width: 219px;
  --primeiraCor: #6923D0;
  --first-color-light: #F4F0FA;
  --title-color: #19181B;
  --corTexto: #58555E;
  --corTextoClaro: #A5A1AA;
  --body-color: #F9F6FD;
  --container-color: #FFFFFF;
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --body-font: 'Poppins', sans-serif;
  --tamanhoFonteNormal: .938rem;
  --tamanhoFonteMenor: .75rem;
  --smaller-font-size: .75rem;
  --fonteMedioNegrito: 500;
  --font-semi-bold: 600;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --tamanhoFonteMenor: .875rem;
    --smaller-font-size: .813rem;
  }
}


* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


body {
  font-family: 'Poppins', sans-serif;
}

nav {
  max-width: 100vw;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;

}

.aPadrao {
  text-decoration: none;
}

#logo {
  max-width: 100px;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  font-weight: lighter;
}



#links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a,
.link a::after {
  text-decoration: none;
  color: #000;
}

.link a::after {
  display: block;
  background: var(--primary-color);
  transition: width 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

#iconeNav {
  display: flex;
}

.icons-size{
    color: #333;
    font-size: 14px;
}

.action{
   margin-right: 20px;  
    
}

.perfilMenu{
  position: fixed;
  overflow: hidden;
  margin: 20px;
  z-index: 100;
  border: 0.5px solid black;
}

.action .profile{
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 40px;
}

.action .profile img{
    width: 100%;
    top: 0;
    position: absolute;
    object-fit: cover;
    left: 0;
    height: 100%;
}

.action .perfilMenu{
    background-color:#FFF;
    box-sizing:0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 10px 20px;
    position: absolute;
    right: -10px;
    width: 200px;
    transition: 0.5s;
    top: 120px;
    visibility: hidden;
    opacity: 0;
}

.action .perfilMenu.active{
    opacity: 1;
    top: 80px;
    visibility: visible;
}

.action .perfilMenu::before{
    background-color:#fff;
    content: '';
    height: 20px;
    position: absolute;
    right: 30px;
    transform:rotate(45deg);
    top:-5px;
    width: 20px;
}

.action .perfilMenu h3{
    color: #555;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: left;
    width: 100%;
}

.action .perfilMenu h3 div{
    color: #818181;
    font-size: 14px;
    font-weight: 400;
}

.action .perfilMenu ul li{
    align-items: center;
    border-top:1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 10px 0px;
}

.action .perfilMenu ul li img{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition:0.5s
}

.action .perfilMenu ul li a{
    display: inline-block;
    color: #555;
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.action .perfilMenu ul li:hover img{
    opacity: 1;
}

.action .menus ul li:hover a{
    color:#ff00ff;
}

#iconeNav {
  margin-left: auto;
}

.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}
  .sidebar.close {
    left: -100%;
  }

  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  
  .sidebar.close .abaixoConteudo {
    left: -100%;
  }
.sidebar::-webkit-scrollbar {
  display: none;
}
.menuConteudo {
  position: relative;
}
.tituloMenu {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}

.tituloMenu::before {
  color: var(--grey-color);
  white-space: nowrap;
}
.dahsboardMenu::before {
  content: "Dashboard";
}
.editorMenu::before {
  content: "Editor";
}
.settingMenu::before {
  content: "Setting";
}

.itensMenu {
  padding: 0;
  list-style: none;
}
.navlinkIcone {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlinkIcone::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}

.sidebar .linkNav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.linkNav:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

.itensSubmenu {
  cursor: pointer;
}
.submenu {
  display: none;
}
.itensSubmenu .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.submenuShow ~ .submenu {
  display: block;
}
.submenuShow .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}

.abaixo {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.abaixo i {
  font-size: 20px;
}
.abaixo span {
  font-size: 18px;
}
.sidebar.close .abaixoConteudo {
  width: 50px;
  left: 15px;
}
.sidebar.close .abaixo span {
  display: none;
}
.sidebar.hoverable .CollapseSidebar {
  display: none;
}

#conteinerBotaoCentralizado {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0.5rem;
}

.btn:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

#btnSemLogin{
  border: var(--primary-color) solid 5px;
  background-color: transparent;
  color: #000;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

#containerSlider {
  position: relative;
  width: 100%;
  max-height: 600px;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 100%;
}

img {
  width: 100%;
  max-height: 100%;
}

#pontosSlider {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
}

.ponto {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 5px;
}


#cardCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}

#cardCont .card {
  flex: 1 1 calc(33.33% - 2rem);
  padding: 1.5rem;
  border-radius: 10px;
  
  margin-bottom: 2rem;
}

#cardCont .card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

#cardCont .card p {
  margin-bottom: 1rem;
  text-align: justify;
}

#waveDiv {
  background-color: #0f00f0;
  display: flex;
}

#botaoTopo {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: move;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.footer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1280px;
  width: 95%;
  background: #10182F;
  border-radius: 6px;
}

.footer .footerRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footerRow .footerCol h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footerCol .links {
  margin-top: 20px;
}

.footerCol .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footerCol .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footerCol .links li a:hover {
  color: #fff;
}

.footerCol p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footerCol #iconesFooter {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footerCol #iconesFooter i {
  color: #afb6c7;
}

.footerCol #iconesFooter i:hover  {
  color: #fff;
  }



@media (max-width: 900px) {
  #links {
    display: none;
  }
}


.onda {
  display: flex;
  
}

.cardWave {
  color: #fff;
  
}

#textoFooter {
  font-size: 1.5rem;
  margin: 20px 10px;
  font-weight: normal;
}

  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footerRow {
    padding: 20px;
    gap: 1rem;
  }
  

@media (max-width: 600px) {
  #conteinerBotaoCentralizado {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 80%;
  }

  .btn:hover {
    background-color: var(--hover-color);
  }
  
  #cardCont{
    grid-template-columns: repeat(1, 1fr);
  }

  #textoFooter {
    font-size: 1.1rem;
  }
  
}

@media (min-width: 1800px){
    #cardCont {
      grid-template-columns: repeat(2, 1fr);
    }
  }

