@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --primary-color: #1d4ed8;
  --hover-color: #1e40af;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
}

nav {
  max-width: 100vw;
  margin: auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;

}

.aPadrao {
  text-decoration: none;
}

#logo {
  max-width: 100px;
  margin-right: 3rem;
}

#links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a,
.link a::after {
  text-decoration: none;
  color: #000;
}

.link a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: var(--primary-color);
  transition: width 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

#iconeNav {
  display: flex;
}

  .dropdown {
    
    
    display: flexbox;
  }

  .dropdown-btn {
    display: flex;
    color: #4d4d4d;
    border: none;
    background-color: transparent;
    padding: 0px 40px;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 210px;
    z-index: 1;
    margin-top: 20px;
  }

  .show-dropdown {
    display: block;
  }


  .nested-dropdown {
    position: relative; 
  }

  .nested-dropdown-content {
    display: none;
    position: absolute;
    
    background-color: #000;
    z-index: 1;
    border-radius: 0 10px 10px 10px;
  }

  .nested-dropdown:hover .nested-dropdown-content {
    display: block;
  }

  .dropdown-content a,
  .nested-dropdown-content a {
    color: #70747c;
    padding: 15px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
  }

  .material-symbols-outlined {
    color: #70747c;
  }

  .dropdown-content a:hover,
  .nested-dropdown-content a:hover {
    color: #4097fe;
    background-color: #000;
  }

  .dropdown-content a:hover span,
  .nested-dropdown-content a:hover span {
    color: #4097fe;
  }


.menu-icon {
  z-index: 100;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#iconeNav {
  margin-left: auto;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 4px 0;
  background-color: #333;
  transition: transform 0.3s;
  border-radius: 2px;
}

#menu-content {
  display: none;
}

#menu-content.show {
  display: flex;
}

#menu-content {
  z-index: 99;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 25%;
  width: 75vw;
  height: 100vh;
  background-color: #feffef;
  border: 2px 0px solid #000;
  transition: left 0.3s ease;
}

#menu-content ul, li, a {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
}



.menu-icon.active {
  position: fixed;
  translate: 30px;
}


.menu-icon.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 10px);
}

.menu-icon.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -10px);
}

#conteinerBotaoCentralizado {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0.5rem;
}

.btn:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

#btnSemLogin{
  border: var(--primary-color) solid 5px;
  background-color: transparent;
  color: #000;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

#imagens {
  display: flex;
  justify-content: center;
}

#imagens img {
  min-width: 100vw;
  object-fit: contain;
}

#cardCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}

#cardCont .card {
  flex: 1 1 calc(33.33% - 2rem);
  padding: 1.5rem;
  border-radius: 10px;
  
  margin-bottom: 2rem;
}

#cardCont .card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

#cardCont .card p {
  margin-bottom: 1rem;
  text-align: justify;
}

#waveDiv {
  background-color: #0f00f0;
  display: flex;
}

@media (max-width: 900px) {
  #links {
    display: none;
  }
}


.onda {
  display: flex;
  
}

.cardWave {
  color: #fff;
  
}


#textoFooter {
  font-size: 1.5rem;
  margin: 20px 10px;
  font-weight: normal;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  background-color: #333;
  color: white;
  padding: 40px;
  gap: 20px;
  
}

.footer-section {
  padding: 20px;
  box-sizing: border-box;
  
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #ff7f50;
}

@media (max-width: 600px) {
  #conteinerBotaoCentralizado {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 80%;
  }

  .btn:hover {
    background-color: var(--hover-color);
  }
  
  #cardCont{
    grid-template-columns: repeat(1, 1fr);
  }

  #textoFooter {
    font-size: 1.1rem;
  }
  
  .footer{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1800px){
    #cardCont {
      grid-template-columns: repeat(2, 1fr);
    }
  }
